<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Change Password</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="form" (ngSubmit)="change()">

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="OldPassword" formControlName="oldPassword">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Repeat Password" formControlName="repeatPassword">
                </mat-form-field>

            </mat-card-content>

            <button mat-stroked-button color="accent" class="btn-block" [disabled]="!form.valid">Submit</button>

            <button mat-stroked-button color="accent" class="btn-block" (click)="cancel()"
                style="margin-top:5px;">Cancel</button>

        </form>
    </mat-card>
</div>